nav{
    text-align:center;
    margin-left:49px , ;
    
    background-color: aliceblue;
}


/* copy item */
text-align:center;
margin-left:49px;


background-color: aliceblue;
/* border: 10px solid aliceblue; */
border-radius: 500px;
height: 30px;

